<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Post it! </h1>
    </header>

    <div class="main_body">
        
        <form method="post">
            <button type="submit" name="select_image" value="select_image"> Selecione imagem </button>
        </form>

        <form method="post">
            <input type="text" name="input_text" placeholder="Text..." required> 
            <button type="submit" name="post" value="post"> Postar </button>
        </form>

    </div>

    <div id="social_media_buttons_parent">
        <div id="social_media_buttons">
            
            <div id="rows">
                <form method="post">
                    {% if handles.twitter_toggle %}
                        <button type="submit" style='background-image: url("../static/assets/twitter_logo.png"); background-size: 56px; background-position: center; border: solid 2px;' name="submit_toggle" value="twitter_toggle">  </button>
                    {% else %}
                        <button type="submit" style='background-image: url("../static/assets/twitter_logo.png"); background-size: 56px; background-position: center; filter: brightness(50%); border: solid 2px;' name="submit_toggle" value="twitter_toggle">  </button>
                    {% endif %}
                </form>
                <form method="post">
                    <button type="submit" class="btn_small" name="submit_login" value="twitter_login"> TTL </button>
                </form>
            </div>
    
            <div id="rows">
                <form method="post">
                    {% if handles.instagram_toggle %}
                        <button type="submit" style='background-image: url("../static/assets/instagram_logo.png"); background-size: 47px; background-position: center; border: solid 2px;' name="submit_toggle" value="instagram_toggle">  </button>
                    {% else %}
                        <button type="submit" style='background-image: url("../static/assets/instagram_logo.png"); background-size: 47px; background-position: center; filter: brightness(50%); border: solid 2px;' name="submit_toggle" value="instagram_toggle">  </button>
                    {% endif %}
                </form>
                <form method="post">
                    <button type="submit"  class="btn_small" name="submit_login" value="instagram_login"> IGL </button>
                </form>
            </div>
    
            <div id="rows">
                <form method="post">
                    {% if handles.facebook_toggle %}
                        <button type="submit" style='background-image: url("../static/assets/facebook_logo.png"); background-size: 47px; background-position: center; border: solid 2px;' name="submit_toggle" value="facebook_toggle">  </button>
                    {% else %}
                        <button type="submit" style='background-image: url("../static/assets/facebook_logo.png"); background-size: 47px; background-position: center; filter: brightness(50%); border: solid 2px;' name="submit_toggle" value="facebook_toggle">  </button>
                    {% endif %}
                </form>
                <form method="post">
                    <button type="submit" class="btn_small" name="submit_login" value="facebook_login"> FBL </button>
                </form>
            </div>
    
            <div id="rows">
                <form method="post">
                    {% if handles.furaffinity_toggle %}
                        <button type="submit" style='background-image: url("../static/assets/furaffinity_logo.png"); background-size: 48px; background-position: center; border: solid 2px;' name="submit_toggle" value="furaffinity_toggle">  </button>
                    {% else %}
                        <button type="submit" style='background-image: url("../static/assets/furaffinity_logo.png"); background-size: 48px; background-position: center; filter: brightness(50%); border: solid 2px;' name="submit_toggle" value="furaffinity_toggle">  </button>
                    {% endif %}
                </form>
                <form method="post">
                    <button type="submit" class="btn_small" name="submit_login" value="furaffinity_login"> FAL </button>
                </form>
            </div>
    
            <div id="rows">
                <form method="post">
                    {% if handles.telegram_toggle %}
                        <button type="submit" style='background-image: url("../static/assets/telegram_logo.png"); background-size: 47px; background-position: center; border: solid 2px;' name="submit_toggle" value="telegram_toggle">  </button>
                    {% else %}
                        <button type="submit" style='background-image: url("../static/assets/telegram_logo.png"); background-size: 47px; background-position: center; filter: brightness(50%); border: solid 2px;' name="submit_toggle" value="telegram_toggle">  </button>
                    {% endif %}
                </form>
                <form method="post">
                    <button type="submit" class="btn_small" name="submit_login" value="telegram_login"> TGL </button>
                </form>
            </div>
        </div>
    </div>

    <footer>
        <p>
            🧡🥰🧡 oma eT
        </p>
    </footer>
</body>
</html>