<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Post it! </h1>
    </header>

    <div class="main_body">
        
        <form method="post">
            <button type="submit" name="select_image" value="select_image"> Selecione imagem </button>
        </form>

        <form method="post">
            <input type="text" name="input_text" placeholder="Text..." required> 
            <button type="submit" name="post" value="post"> Postar </button>
        </form>

    </div>
    
    <div id="social_media_buttons">
        <div id="rows">
            <form method="post">
                <button type="submit" name="twitter_login" value="twitter_login"> TT </button>
            </form>
            <form method="post">
                <button type="submit" name="twitter_toggle" value="login_toggle"> TT </button>
            </form>
        </div>

        <div id="rows">
            <form method="post">
                <button type="submit" name="instagram_login" value="instagram_login"> IG </button>
            </form>
            <form method="post">
                <button type="submit" name="instagram_toggle" value="instagram_toggle"> IG </button>
            </form>
        </div>

        <div id="rows">
            <form method="post">
                <button type="submit" name="facebook_login" value="facebook_login"> FB </button>
            </form>
            <form method="post">
                <button type="submit" name="facebook_toggle" value="facebook_toggle"> FB </button>
            </form>
        </div>

        <div id="rows">
            <form method="post">
                <button type="submit" name="furaffinity_login" value="furaffinity_login"> FA </button>
            </form>
            <form method="post">
                <button type="submit" name="furaffinity_toggle" value="furaffinity_toggle"> FA </button>
            </form>
        </div>

        <div id="rows">
            <form method="post">
                <button type="submit" name="telegram_login" value="telegram_login"> TG </button>
            </form>
            <form method="post">
                <button type="submit" name="telegram_toggle" value="telegram_toggle"> TG </button>
            </form>
        </div>
    </div>



    <footer>
        <p>
            🧡🥰🧡 oma eT
        </p>
    </footer>
</body>
</html>