<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Post it! </h1>
    </header>

    <div class="main_body">
        
        <form method="post">
            <button type="submit" name="select_image" value="select_image"> Selecione imagem </button>
        </form>

        <form method="post">
            <input type="text" name="input_text" placeholder="Text..." required> 
            <button type="submit" name="post" value="post"> Postar </button>
        </form>

    </div>
    <div id="social_media_buttons_parent">
        <div id="social_media_buttons">
            <div id="rows">
                <form method="post">
                    <button type="submit" name="twitter_toggle" value="twitter_toggle"> TT </button>
                </form>
                <form method="post">
                    <button type="submit" class="btn_small" name="twitter_login" value="twitter_login"> TTL </button>
                </form>
            </div>
    
            <div id="rows">
                <form method="post">
                    <button type="submit" name="instagram_toggle" value="instagram_toggle"> IG </button>
                </form>
                <form method="post">
                    <button type="submit" class="btn_small" name="instagram_login" value="instagram_login"> IGL </button>
                </form>
            </div>
    
            <div id="rows">
                <form method="post">
                    <button type="submit" name="facebook_toggle" value="facebook_toggle"> FB </button>
                </form>
                <form method="post">
                    <button type="submit" class="btn_small" name="facebook_login" value="facebook_login"> FBL </button>
                </form>
            </div>
    
            <div id="rows">
                <form method="post">
                    <button type="submit" name="furaffinity_toggle" value="furaffinity_toggle"> FA </button>
                </form>
                <form method="post">
                    <button type="submit" class="btn_small" name="furaffinity_login" value="furaffinity_login"> FAL </button>
                </form>
            </div>
    
            <div id="rows">
                <form method="post">
                    <button type="submit" name="telegram_toggle" value="telegram_toggle"> TG </button>
                </form>
                <form method="post">
                    <button type="submit" class="btn_small" name="telegram_login" value="telegram_login"> TGL </button>
                </form>
            </div>
        </div>
    </div>


    <footer>
        <p>
            🧡🥰🧡 oma eT
        </p>
    </footer>
</body>
</html>