<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Post it! </h1>
    </header>
    
    <div class="main_buttons">
        <form method="post">
            <input type="submit" name="select_image" value="select_image">
        </form>
    </div>

    <div class="" id="logins">
        <form method="post">
            <input type="submit" name="twitter_login" value="login_with_twitter">
        </form>
    </div>
  
    <footer>
        <p>
            🧡🥰🧡 oma eT
        </p>
    </footer>
</body>
</html>