html{
    height: 100%;
    background-color: rgb(32, 209, 171);
}

body{
    margin: 0px;
}

header{
    background-color: rgb(32, 209, 171);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.main_body form button{
    border-radius: 20px;
    margin: 5px;
}

#social_media_buttons{
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
    flex-flow: column wrap-reverse;
}
#rows{
    display: flex;
    flex-direction: row;
    margin-top: 15%;
    gap: 50%;
}

footer{
    background-color: rgb(32, 209, 171);
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
}