html{
    height: 100%;
    background-color: rgb(32, 209, 171);
}

body{
    margin: 0px;
    height: 100%;
}

header{
    background-color: rgb(32, 209, 171);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.main_body form button{
    border-radius: 20px;
    margin: 5px;
}

#social_media_buttons_parent{
    position: absolute;
    height: 100%;
    width: 10%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    direction: rtl;
    align-items: center;
    margin-right: 6px;
}
#social_media_buttons{
    margin: auto;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
}
#rows{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6px;
}
#rows form button{
    width: 100%;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.btn_small{
    margin-top: 30%;
    height: 30px!important;
    width: 30px!important;
}

footer{
    background-color: rgb(32, 209, 171);
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
}