html{
    height: 100%;
    background-color: rgb(32, 209, 171);
}

body{
    margin: 0px;
}

header{
    background-color: rgb(32, 209, 171);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.main_body form button{
    border-radius: 20px;
    margin: 5px;
}

#logins{
    position: relative;
    background-color: rgb(32, 209, 171);
}
#logins form button{
    position: absolute;
    height: 50px;
    border-radius: 50%;
    right: 0;
}

footer{
    background-color: rgb(32, 209, 171);
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
}